.form_container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.form {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem;
}

.form_title {
  font-size: 36px;
}

.link {
  text-decoration: none;
  color: #fd5750;
}
